body,
html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background: url(header4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 4rem;
  color: rgb(255, 255, 255);
}

hr {
  max-width: 65px;
  border-color: rgb(253, 186, 1);
  border-width: 3px;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: rgb(255, 124, 1);
  border-color: rgb(255, 124, 1);;
}
.btn-primary:hover {
  background-color: rgb(99, 162, 192);
  border-color: rgb(99, 162, 192);
  border-width: 4px;
}

.btn-xl {
  padding: 1rem 3rem;
}

.buffer {
  height: 10rem;
}
.navbar-brand {
  color: aliceblue;
}

.navbar-brand:hover{
  color: rgb(207, 79, 19);
}